.c1{color: blue;}

p{color: mediumseagreen; font-family: arial; font-size: large;}

h1{color: red; font-family: arial; text-align: center; border: 4px solid red;}

h2{color: blue; font-family: arial; border: 4px solid blue; width: 30%; text-align: center;}

ul{color: orange; font-family: arial; border: 4px solid orange; font-size: large; width: 30%;}
